<!DOCTYPE html>
<html lang="@(ViewData["lang"] ?? "en")" 
      controller="@(ViewContext.RouteData.Values["controller"].ToString())"
      action="@(ViewContext.RouteData.Values["action"].ToString())">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bytech - @(ViewData["Title"])</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Paytone+One&display=swap"
          rel="stylesheet">
    <link rel="icon" href="https://drive.google.com/thumbnail?id=11E0HDs8pJ0oqkSX2jP5XRW0iyNxBVSE9" type="image/x-icon">

</head>

<body>
    @RenderBody()
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>

</html>