@using CourseProject_backend.Models.ViewModels
@using CourseProject_backend.Enums.Entities
@using CourseProject_backend.Enums
@model ItemViewModel
@{
    Layout = "_MyLayout";
    ViewData["Title"] = $"Item {Model.Item.Name}";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.LanguagePack.Value["item_word"] - @Model.Item.Name</h1>
        </div>
    </div>
</div>

<div class="container control-card p-3 mb-3 font-size-20">
    <div class="row mb-3 d-flex justify-content-center align-content-center">
        <div class="col d-flex justify-content-center">
            @Model.LanguagePack.Value["likes_word"] : @Model.Item.PositiveReact.Count
        </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center align-content-center">
        <div class="col d-flex justify-content-center">
            @Model.LanguagePack.Value["comentaries_word"] : @Model.Item.Comments.Count
        </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center align-content-center">
        <div class="col d-flex justify-content-center">
            @Model.LanguagePack.Value["views_word"] : @Model.Item.Views.Count
        </div>
    </div>
</div>

<form method="post" action="~/item/delete">

<input type="hidden" name="itemId" value="@Model.Item.Id" id="item-id" />

    @{
        if (Model.User != null)
        {
            <div class="container control-card">
                <div class="row mb-3 d-flex justify-content-center align-content-center">

                @{
                        if (Model.Item.Collection.User.Id == Model.User.Id || Model.User.IsAdmin())
                        {
                            <div class="col d-flex justify-content-center">
                                <a href="~/itemconstructor/edit/@Model.LanguagePack.Key/@Model.Item.Id" id="edit-button" class="btn-all-select control-icon">
                                    <img src="~/img/edit.png" style="width: 30px;">
                                </a>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button type="submit" name="itemId" value="@Model.Item.Id" id="delete-button" class="btn-all-select control-icon">
                                    <img src="~/img/trash.png" style="width: 30px;">
                                </button>
                            </div>
                        }
                }
                    
                    @{
                        bool isLikedByUser = false;

                        if (Model.Item.PositiveReact.FirstOrDefault(li => li.User.Id == Model.User.Id) != null)
                        {
                            isLikedByUser = true;
                        }

                        <input type="hidden" name="itemId" value="@isLikedByUser.ToString().ToLower()" id="is-liked" />
                    }

                    <div class="col d-flex justify-content-center">
                        <button type="button" id="like-button" onclick="addLike()" id="delete-button" class="btn-all-select control-icon">
                            <img src="~/img/like.png" style="width: 30px;">
                        </button>
                    </div>
                </div>
            </div>
        }
    }

 </form>


<div class="container">
    <div class="row">
        <div class="col">

            <section class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.LanguagePack.Value["name_word"]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="item-data">@Model.Item.Name</div>
                        </div>
                    </div>
                </div>
            </section>

            @{
                if (Model.Item.Collection.CustomString1_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomString1_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomString1</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomString2_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomString2_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomString2</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomString3_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomString3_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomString3</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }

            @{
                if (Model.Item.Collection.CustomText1_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomText1_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomText1</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomText2_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomText2_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomText2</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomText3_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomText3_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomText3</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }

            @{
                if (Model.Item.Collection.CustomInt1_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomInt1_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomInt1</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomInt2_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomInt2_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomInt2</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomInt3_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomInt3_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomInt3</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }

            @{
                if (Model.Item.Collection.CustomBool1_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomBool1_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @{
                                        if (Model.Item.CustomBool1.Value)
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/true.png" style="width: 30px;">
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/false.png" style="width: 30px;">
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomBool2_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomBool2_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @{
                                        if (Model.Item.CustomBool2.Value)
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/true.png" style="width: 30px;">
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/false.png" style="width: 30px;">
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomBool3_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomBool3_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @{
                                        if (Model.Item.CustomBool3.Value)
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/true.png" style="width: 30px;">
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn-all-select control-icon-data" type="button">
                                                <img src="~/img/false.png" style="width: 30px;">
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }
            
            @{
                if (Model.Item.Collection.CustomDate1_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomDate1_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomDate1?.Date.ToShortDateString()</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomDate2_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomDate2_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomDate2?.Date.ToShortDateString()</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }

                if (Model.Item.Collection.CustomDate3_state)
                {
                    <section class="d-flex justify-content-center align-content-center mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 font-size-20">
                                    @Model.Item.Collection.CustomDate3_name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="item-data">@Model.Item.CustomDate3?.Date.ToShortDateString()</div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }

            <section class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.LanguagePack.Value["tags_word"]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="item-data">
                                @{
                                    var tags = Model.Item.Tags.ToList();

                                    for (int j = 0; j < tags.Count; j++)
                                    {
                                        <a href="~/itemlist/index?lang=@Model.LanguagePack.Key&filter=@ItemsDataFilter.byTag&value=@tags[j].Name">
                                            #@tags[j].Name
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.LanguagePack.Value["comentaries_word"]</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            <div id="comentaries-block">
                @{
                    var comments = Model.Item.Comments.OrderBy((x) => x.CreatedTime).ToArray();

                    for (int i = 0; i < comments.Length; i++)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.LanguagePack.Value["by_word"] (@comments[i].User.Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="item-data">@comments[i].Text</div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 font-size-12" id="date-field">
                                        @comments[i].CreatedTime.Date.ToShortDateString()
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }
            </div>

            <section class="new-comment d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.LanguagePack.Value["your_new_comment"]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea id="comment-area" class="form-control"></textarea>
                        </div>
                        <div class="col d-flex justify-content-center mt-3">
                            <button type="button" onclick="sendComment()" class="btn-all-select control-icon">
                                <img src="~/img/send.png" style="width: 20px;">
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <div hidden>
                <section id="comment-template" class="d-flex justify-content-center align-content-center mb-3">
                    <div class="container">
                        <div class="row">
                            <div id="author-field" class="col-12 font-size-20">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="comment-text-field" class="item-data"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 font-size-12" id="date-field">
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/js/itemControl.js"></script>