@model KeyValuePair<string,IDictionary<string, string>>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome";
    ViewData.Add("Lang", Model.Key);
}

<main>
    <header>
        <div class="container text-center text-white">
            <div class="col">
                <h4>Bytech</h4>
                <h1>ICollection</h1>
                <h6>@Model.Value["start_start_and_publish"]</h6>
            </div>
        </div>
    </header>
    <section class="section-large-padding">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4>@Model.Value["createAccount"]</h4>
                    <a href="@(Url.Action("index","registration", new {lang = Model.Key}))">
                    <button class="button btn-style-large btn-registration-color">
                            <h4>@Model.Value["registration_word"]</h4>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-large-padding">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4 class="text-">@Model.Value["loginAccount"]</h4>
                    <a href="@(Url.Action("index","login", new {lang = Model.Key}))">
                        <button class="button btn-style-large btn-registration-color">
                            <h4>@Model.Value["login_word"]</h4>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-large-padding">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4 class="text-">@Model.Value["skip_regisration"]</h4>
                    <a href="~/home/index/@Model.Key">
                        <button class="button btn-style-large btn-registration-color">
                            <h4>@Model.Value["skip_word"]</h4>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        Muhammd
    </footer>
</main>