@model KeyValuePair<string,IDictionary<string, string>>
@{
    Layout = "_MyLoginLayout";
    ViewData["Title"] = "Welcome";
    ViewData.Add("Lang", Model.Key);
}

<main class="max-display-height">
    <div class="container justify-content-centerd">
        <div class="row d-flex justify-content-center align-items-center max-display-height">
            <div class="col-12 welcome-form d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center registration-header mb-5">
                        <img src="/img/logo_light.png" style="width: 180px;">
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 d-flex header-text justify-content-center text-center">
                            <h5>Start creating your collections right now</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h4>@Model.Value["loginAccount"]</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <a href="#">
                            <a href="@(Url.Action("index", "login", new { lang = Model.Key }))">
                                <div class="col-12 d-flex justify-content-center">
                                    <h5 class="btn-welcome-submit align-items-center d-flex justify-content-center">
                                        @Model.Value["login_word"]
                                    </h5>
                                </div>
                            </a>
                        </a>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 d-flex justify-content-center">
                            <h4>@Model.Value["createAccount"]</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <a href="@(Url.Action("index", "registration", new { lang = Model.Key }))">
                            <div class="col-12 d-flex justify-content-center">
                                <h5 class="btn-welcome-submit align-items-center d-flex justify-content-center">
                                    @Model.Value["registration_word"]
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h4>
                                <a href="~/home/index/@Model.Key">
                                    @Model.Value["skip_word"]
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
