@using CourseProject_backend.Controllers
@model RegistrationModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
    ViewData.Add("Lang", Model.LanguagePack.Key);

}

<form action="~/login/index/@Model.LanguagePack.Key" method="post">
<div class="container registration-grid">
    <div class="row">
        <div class="col-12 registration-panel">
            <div class="container text-white">
                <div class="row">
                    <div class="col-12">
                        <h1>@Model.LanguagePack.Value["login_word"]</h1>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="email_field" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   name="Email"
                                   id="email_field"
                                   placeholder="" />
                                @{
                                    if (Model.Errors.ContainsKey("Email"))
                                    {
                                        <label for="" class="form-label text-danger">* @Model.Errors["Email"]</label>
                                    }
                                }
                        </div>
                        <label for="password_field" id="email_errorMessage" class="form-label text-danger"></label>

                        <div class="mb-3">
                            <label for="password_field" class="form-label">Password</label>
                            <input type="password"
                                   class="form-control"
                                   name="Password"
                                   id="password_field"
                                   placeholder="" />
                                @{
                                    if (Model.Errors.ContainsKey("Password"))
                                    {
                                        <label for="" class="form-label text-danger">* @Model.Errors["Password"]</label>
                                    }
                                }
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <button type="submit" class="button btn-style-large btn-submit-color">@Model.LanguagePack.Value["submit_word"]</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <a href="@(Url.Action("index","registration", new {lang = Model.LanguagePack.Key}))">
                                    <div class="button btn-style-medium btn-redirect-login text-center">@Model.LanguagePack.Value["registration_word"]</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script src="~/js/authorization.js"></script>            