@using CourseProject_backend.Models.ViewModels
@model CabinetViewModel
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Cabinet";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

<!------------------------------------------------------------------>

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.LanguagePack.Value["cabinet_word"]</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <button type="button" onclick="selectAll()" class="btn-all-select">
                @Model.LanguagePack.Value["select_all"]
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" onclick="cancelAll()" class="btn-all-select">
                @Model.LanguagePack.Value["cancel_all"]
            </button>
        </div>
    </div>
</div>

<form method="post" action="~/collection/delete">
    <input type="hidden" name="lang" value="@Model.LanguagePack.Key" />
    <div class="container control-card">
        <div class="row mb-3 d-flex justify-content-center align-content-center">
            <div class="col d-flex justify-content-center">
                <a id="add-button" href="~/collectionconstructor/add/@Model.LanguagePack.Key">
                    <div class="btn-all-select control-icon">
                        <img src="~/img/plus.png" style="width: 30px;">
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <button id="delete-button" type="submit" class="btn-all-select control-icon">
                    <img src="~/img/trash.png" style="width: 30px;">
                </button>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            @{
                for (int i = 0; i < Model.Collections.Count; i++)
                {
                    <div class="row d-flex justify-content-center align-content-center mb-3">
                        <div class="col text-center">
                            <div class="container collection-card">
                                <div class="row mb-4">
                                    <div class="col d-flex">
                                        <input name="collectionId" value="@Model.Collections[i].Id" type="checkbox" id="select-field" class="form-check-input">
                                    </div>
                                    <div class="col d-flex justify-content-end align-content-center">
                                        <div class="font-size-10">
                                            id : @Model.Collections[i].Id
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <a href="@Url.Action("index","collection",
                                            new{lang=Model.LanguagePack.Key,
                                            id=Model.Collections[i].Id})">
                                            <div class="collection-header font-size-26">
                                                @Model.Collections[i].Name
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row mb-4 font-size-20 mb-4">
                                    <div class="col">
                                        @Model.Collections[i].Description
                                    </div>
                                </div>
                                <div class="row font-size-14 mb-1">
                                    <div class="col">
                                        @Model.LanguagePack.Value["author_email"] : <u>@Model.Collections[i].User.Email</u>
                                    </div>
                                </div>
                                <div class="row font-size-14 mb-1">
                                    <div class="col">
                                        @Model.LanguagePack.Value["created_word"] : <u>@Model.Collections[i].CreatedTime.Date.ToShortDateString()</u>
                                    </div>
                                </div>
                                <div class="row font-size-14 mb-1">
                                    <div class="col">
                                        @Model.LanguagePack.Value["category_word"] : <u>@Model.Collections[i].Category.Name</u>
                                    </div>
                                </div>
                                <div class="row font-size-14 mb">
                                    <div class="col">
                                        @Model.LanguagePack.Value["items_count"] : <u>@Model.Collections[i].Items.Count</u>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row d-flex justify-content-center align-content-center mb-3">
                    <div class="col text-center">
                        <div class="container pagination-card">

                            @{
                                if (Model.CurrentPage > 1)
                                {
                                    <a href="@Url.Action("index","cabinet",
                                            new{lang=Model.LanguagePack.Key,
                                            id = Model.User.Id,
                                            page=Model.CurrentPage-1})" class="btn_cust btn-page-select">
                                        ⇐
                                    </a>
                                }
                            }
                            @{
                                for (int i = 1; i <= Model.PagesCount; i++)
                                {
                                    if (Model.CurrentPage == i)
                                    {
                                        <a href="@Url.Action("index","cabinet",
                                            new{lang=Model.LanguagePack.Key,
                                            id = Model.User.Id,
                                            page=i})" class="btn_cust btn-page-select-current">@($"{i}")</a>
                                    }
                                    else if (i < Model.CurrentPage && i >= Model.CurrentPage - 3)
                                    {
                                        <a href="@Url.Action("index","cabinet",
                                            new{lang=Model.LanguagePack.Key,
                                            id = Model.User.Id,
                                            page=i})" class="btn_cust btn-page-select">@($"{i}")</a>
                                    }
                                    else if (i > Model.CurrentPage && i <= Model.CurrentPage + 3)
                                    {
                                        <a href="@Url.Action("index","cabinet",
                                            new{lang=Model.LanguagePack.Key,
                                            id = Model.User.Id,
                                            page=i})" class="btn_cust btn-page-select">@($"{i}")</a>
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                }
                            }
                            @{
                                if (Model.CurrentPage < Model.PagesCount)
                                {
                                    <a href="@Url.Action("index","cabinet",
                                            new{lang=Model.LanguagePack.Key,
                                            id = Model.User.Id,
                                            page=Model.CurrentPage+1})" class="btn_cust btn-page-select">
                                        ⇒
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</form>