@using CourseProject_backend.Models.ViewModels
@model CabinetViewModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Cabinet";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

<form method="post" action="~/collection/delete">

    <div class="container control-panel" id="control-panel">
        <div class="row justify-content-center align-content-center header-col">
            <div class="col d-flex justify-content-center">
                <a id="add-button" href="~/collectionconstructor/index/@Model.LanguagePack.Key" class="btn-style-header-smaller btn-main-header-color">
                    <img class="header-icon" src="https://drive.google.com/thumbnail?id=108xIQymI8059CugT5AlqOx3YgQ64jlyA">
                </a>
            </div>

            <div class="col d-flex justify-content-center">
                <button id="delete-button" type="submit" class="btn-style-header-smaller btn-main-header-color">
                    <img class="header-icon" src="https://drive.google.com/thumbnail?id=1-jMEYoBQO0Gw03LyLzgFwAZZxwMOoJFg">
                </button>
            </div>
        </div>
    </div>

    <section class="section-catalog-info">
        <div class="constructor-panel">
            <div class="container">
                <div class="row m-3 mt-2 mb-2">
                    <div class="col">
                        <h5>Ismi :</h5>
                    </div>
                    <div class="col">
                        <h5><u>@Model.User.Name</u></h5>
                    </div>
                </div>
                <div class="row m-3 mt-2 mb-2">
                    <div class="col">
                        <h5>Email :</h5>
                    </div>
                    <div class="col">
                        <h5><u>@Model.User.Email</u></h5>
                    </div>
                </div>
                <div class="row m-3 mt-2 mb-2">
                    <div class="col">
                        <h5>Status :</h5>
                    </div>
                    <div class="col">
                        <h5><u>@Model.User.Role.ToUpper()</u></h5>
                    </div>
                </div>
                <div class="row m-3 mt-2 mb-2">
                    <div class="col">
                        <h5>Registration time :</h5>
                    </div>
                    <div class="col">
                        <h5><u>@Model.User.RegistrationTime.ToShortDateString()</u></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @{
        if (Model.Collections.Count == 0)
        {
            <section class="selection-catalogs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            @Model.LanguagePack.Value["list_empty"];
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col text-center d-flex justify-content-center">
                        <h1 class="d-flex text-center">@Model.LanguagePack.Value["cabinet_word"]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center d-flex justify-content-center">
                        <button type="button" onclick="selectAll()" class="btn-style-header-smaller btn-main-selectall-color">
                            @Model.LanguagePack.Value["select_all"]
                        </button>
                    </div>
                    <div class="col text-center d-flex justify-content-center">
                        <button type="button" onclick="cancelAll()" class="btn-style-header-smaller btn-main-selectall-color">
                            @Model.LanguagePack.Value["cancel_all"]
                        </button>
                    </div>
                </div>
            </div>
        }


        for (int i = 0; i < Model.Collections.Count; i++)
        {
            <a class="text-decoration-none text-reset"
               href="@Url.Action("index","collection",
                                    new{lang=Model.LanguagePack.Key,
                                    id=Model.Collections[i].Id})">
                <section class="selection-catalogs">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!--<img class="content-image" src="../img/content.jpg">-->
                            </div>
                        </div>
                        <div class="row data-header">
                            <div class="col d-flex">
                                <input class="form-check-input data-checkbox" name="collectionId" type="checkbox" value="@Model.Collections[i].Id" id="select-field"/>
                                <h3>@Model.Collections[i].Name</h3>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <h6>Id : @Model.Collections[i].Id</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <h6>@Model.LanguagePack.Value["category_word"] : @Model.Collections[i].Category.Name</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <h6>@Model.LanguagePack.Value["created_word"] : @Model.Collections[i].CreatedTime.Date.ToShortDateString()</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center"></div>
                                </div>
                                <div class="row d-flex justify-content-start">
                                    <div class="col">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </a>
        }
    }
</form>



<section class="pages-section">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col">

                @{
                    if (Model.CurrentPage > 1)
                    {
                        <a href="@Url.Action("index","cabinet",
                                    new{lang=Model.LanguagePack.Key,
                                    id = Model.User.Id,
                                    page=Model.CurrentPage-1})" class="btn btn-page">
                            @{
                                char a = '<';
                            }@a
                        </a>
                    }
                }
                @{
                    for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <a href="@Url.Action("index","cabinet",
                                    new{lang=Model.LanguagePack.Key,
                                    id = Model.User.Id,
                                    page=i})" class="btn btn-page btn-page-current">@($"{i}")</a>
                        }
                        else if (i < Model.CurrentPage && i >= Model.CurrentPage - 3)
                        {
                            <a href="@Url.Action("index","cabinet",
                                    new{lang=Model.LanguagePack.Key,
                                    id = Model.User.Id,              
                                    page=i})" class="btn btn-page">@($"{i}")</a>
                        }
                        else if (i > Model.CurrentPage && i <= Model.CurrentPage + 3)
                        {
                            <a href="@Url.Action("index","cabinet",
                                    new{lang=Model.LanguagePack.Key,
                                    id = Model.User.Id,
                                    page=i})" class="btn btn-page">@($"{i}")</a>
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
                @{
                    if (Model.CurrentPage < Model.PagesCount)
                    {
                        <a href="@Url.Action("index","collectionlist",
                                    new{lang=Model.LanguagePack.Key,
                                    id = Model.User.Id,
                                    page=Model.CurrentPage+1})" class="btn btn-page">
                            >
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>