@using CourseProject_backend.Models.ViewModels
@using CourseProject_backend.Enums
@using CourseProject_backend.Enums.Entities
@model HomeViewModel
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Home";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

@{
    if (Model.Collections.Count == 0)
    {
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col text-center d-flex justify-content-center">
                    <h1 class="d-flex text-center">@Model.LanguagePack.Value["top_big_collections"]</h1>
                </div>
            </div>
        </div>
    }

    <div class="container">
        @{
            for (int i = 0; i < Model.Collections.Count; i++)
            {
                <div class="row d-flex justify-content-center align-content-center mb-3">
                    <div class="col text-center">
                        <div class="container collection-card">
                            <div class="row mb-4">
                                <div class="col d-flex">
                                </div>
                                <div class="col d-flex justify-content-end align-content-center">
                                    <div class="font-size-10">
                                        id : @Model.Collections[i].Id
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <a href="@Url.Action("index","collection",
                                            new{lang=Model.LanguagePack.Key,
                                            id=Model.Collections[i].Id})">
                                        <div class="collection-header font-size-26">
                                            @Model.Collections[i].Name
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-4 font-size-20 mb-4">
                                <div class="col">
                                    @Model.Collections[i].Description
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["author_word"] : <u>@Model.Collections[i].User.Name</u>
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["created_word"] : <u>@Model.Collections[i].CreatedTime.Date.ToShortDateString()</u>
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["category_word"] : <u>@Model.Collections[i].Category.Name</u>
                                </div>
                            </div>
                            <div class="row font-size-14 mb">
                                <div class="col">
                                    @Model.LanguagePack.Value["items_count"] : <u>@Model.Collections[i].Items.Count</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="container">
        @{
            if (Model.Items.Count == 0)
            {
            }
            else
            {
                <div class="container">
                    <div class="row">
                        <div class="col text-center d-flex justify-content-center">
                            <h1 class="d-flex text-center">@Model.LanguagePack.Value["new_items"]</h1>
                        </div>
                    </div>
                </div>
            }

            for (int i = 0; i < Model.Items.Count; i++)
            {
                <div class="row d-flex justify-content-center align-content-center mb-3">
                    <div class="col text-center">
                        <div class="container collection-card">
                            <div class="row mb-4">
                                <div class="col d-flex">
                                </div>
                                <div class="col d-flex justify-content-end align-content-center">
                                    <div class="font-size-10">
                                        id : @Model.Items[i].Id
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <a href="@Url.Action("index","item",
                                            new{lang=Model.LanguagePack.Key,
                                            id=Model.Items[i].Id})">
                                        <div class="collection-header font-size-26">
                                            @Model.Items[i].Name
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <img src="~/img/like.png" style="width: 30px;">
                                    <P class="font-size-10">@Model.Items[i].PositiveReact.Count</P>
                                </div>
                                <div class="col">
                                    <img src="~/img/comment.png" style="width: 30px;">
                                    <P class="font-size-10">@Model.Items[i].Comments.Count</P>
                                </div>
                                <div class="col">
                                    <img src="~/img/eye.png" style="width: 30px;">
                                    <P class="font-size-10">@Model.Items[i].Views.Count</P>
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["author_email"] : <u>@Model.Items[i].Collection.User.Name</u>
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["created_word"] : <u>@Model.Items[i].CreatedTime.Date.ToShortDateString()</u>
                                </div>
                            </div>
                            <div class="row font-size-14 mb-1">
                                <div class="col">
                                    @Model.LanguagePack.Value["collection_wor"] : <a href="~/collection/index/@Model.LanguagePack.Key/@Model.Items[i].Collection.Id">@Model.Items[i].Collection.Name</a>
                                </div>
                            </div>
                            <div class="row font-size-14">
                                <div class="col">
                                    @{
                                        if (Model.Items[i].Tags != null)
                                        {
                                            var popularTags = Model.Items[i].Tags.ToList();
                                            for (int j = 0; j < popularTags.Count; j++)
                                            {
                                                <a href="~/itemlist/index?lang=@Model.LanguagePack.Key&filter=@ItemsDataFilter.byTag&value=@popularTags[j].Name">
                                                    #@(popularTags[j].Name)
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    if (Model.Tags.Count == 0)
    {
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col text-center d-flex justify-content-center">
                    <h1 class="d-flex text-center">@Model.LanguagePack.Value["tags_cloud"]</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center align-content-center mb-3">
                <div class="col d-flex justify-content-end align-content-center">
                    <div class="container collection-card">
                        <div class="row">
                            <div class="col-12 font-size-20">
                                @Model.LanguagePack.Value["popular_tags"]
                            </div>
                            <div class="col-12">
                                <div class="item-data">
                                    @{
                                        var tags = Model.Tags.ToList();

                                        for (int j = 0; j < tags.Count; j++)
                                        {
                                            <a href="~/itemlist/index?lang=@Model.LanguagePack.Key&filter=@ItemsDataFilter.byTag&value=@tags[j].Name">
                                                #@tags[j].Name
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }    
}
