@using CourseProject_backend.Models.ViewModels
@using CourseProject_backend.Enums
@using CourseProject_backend.Enums.Entities
@model UsersViewModel
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Users";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.LanguagePack.Value["users_word"]</h1>
        </div>
    </div>
</div>

@{
    if (Model.User == null)
    {
        <div class="container control-card">
            <div class="row mb-3 d-flex justify-content-center align-content-center">
                <div class="col d-flex justify-content-center">
                    <h4 class="p-3">@Model.LanguagePack.Value["you_must_authorized"]</h4>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <button type="button" onclick="selectAll()" class="btn-all-select">
                        @Model.LanguagePack.Value["select_all"]
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button type="button" onclick="cancelAll()" class="btn-all-select">
                        @Model.LanguagePack.Value["cancel_all"]
                    </button>
                </div>
            </div>
        </div>

        <form method="post" id="users-action-form">
            <input type="hidden" name="lang" value="@Model.LanguagePack.Key" />
            @{
                if (Model.User.IsAdmin())
                {
                    <div class="container control-card mb-3">
                        <div class="row mb-3 d-flex justify-content-center align-content-center">
                            <div class="col d-flex justify-content-center">
                                <button type="button" onclick="promote()" class="btn-all-select control-icon" type="button">
                                    <img src="~/img/up.png" style="width: 30px;">
                                </button>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button type="button" onclick="deleteUser()" class="btn-all-select control-icon">
                                    <img src="~/img/trash.png" style="width: 30px;">
                                </button>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button type="button" onclick="demote()" class="btn-all-select control-icon">
                                    <img src="~/img/down.png" style="width: 30px;">
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }

            <main>
                <div class="container mt-3">

                    @{
                        for (int i = 0; i < Model.Users.Count; i++)
                        {
                            <div class="row d-flex justify-content-center align-content-center  mb-3">
                                <div class="col text-center">
                                    <div class="container collection-card">
                                        <div class="row mb-4">
                                            <div class="col d-flex">
                                            @{
                                                if(Model.User.IsAdmin()){
                                                        <input type="checkbox" id="select-field" name="userId" value="@Model.Users[i].Id" class="form-check-input">
                                                }
                                            }

                                            </div>
                                            <div class="col d-flex justify-content-end align-content-center">
                                                <div class="font-size-10">
                                                    id : @Model.Users[i].Id
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col">
                                                <a href="@Url.Action("index","collectionlist",
                                                    new{lang=Model.LanguagePack.Key,
                                                    filter=CollectionDataFilter.byAuthorId,
                                                    value=Model.Users[i].Id,
                                                    sort=DataSort.byDate,
                                                    page=1})">
                                                <div class="collection-header font-size-26">
                                                    @Model.Users[i].Name
                                                </div></a>
                                            </div>

                                        </div>
                                        <div class="row font-size-14 mb-1">
                                            <div class="col">
                                                Email : <u>@Model.Users[i].Email</u>
                                            </div>
                                        </div>
                                        <div class="row font-size-14 mb-1">
                                            <div class="col">
                                                Status : <u>@Model.Users[i].Role.ToUpper()</u>
                                            </div>
                                        </div>
                                        <div class="row font-size-14 mb-1">
                                            <div class="col">
                                                @Model.LanguagePack.Value["registreted_word"] : <u>@Model.Users[i].RegistrationTime.Date.ToShortDateString()</u>
                                            </div>
                                        </div>
                                        <div class="row font-size-14 mb">
                                            <div class="col">
                                                @Model.LanguagePack.Value["collections_count_word"] : <u>@Model.Users[i].Collections.Count</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="row d-flex justify-content-center align-content-center mb-3">
                        <div class="col text-center">
                            <div class="container pagination-card">

                                @{
                                    if (Model.CurrentPage > 1)
                                    {
                                        <a href="@Url.Action("index","users",
                                            new{lang=Model.LanguagePack.Key,
                                            filter=Model.Filter.ToString(),
                                            value=Model.Value,
                                            sort=Model.Sort,
                                            page=Model.CurrentPage-1})" class="btn_cust btn-page-select">
                                            ⇐
                                        </a>
                                    }
                                }
                                @{
                                    for (int i = 1; i <= Model.PagesCount; i++)
                                    {
                                        if (Model.CurrentPage == i)
                                        {
                                            <a href="@Url.Action("index","users",
                                            new{lang=Model.LanguagePack.Key,
                                            filter=Model.Filter.ToString(),
                                            value=Model.Value,
                                            sort=Model.Sort,
                                            page=i})" class="btn_cust btn-page-select-current">@($"{i}")</a>
                                        }
                                        else if (i < Model.CurrentPage && i >= Model.CurrentPage - 3)
                                        {
                                            <a href="@Url.Action("index","users",
                                            new{lang=Model.LanguagePack.Key,
                                            filter=Model.Filter.ToString(),
                                            value=Model.Value,
                                            sort=Model.Sort,
                                            page=i})" class="btn_cust btn-page-select">@($"{i}")</a>
                                        }
                                        else if (i > Model.CurrentPage && i <= Model.CurrentPage + 3)
                                        {
                                            <a href="@Url.Action("index","users",
                                            new{lang=Model.LanguagePack.Key,
                                            filter=Model.Filter.ToString(),
                                            value=Model.Value,
                                            sort=Model.Sort,
                                            page=i})" class="btn_cust btn-page-select">@($"{i}")</a>
                                        }
                                        else
                                        {
                                            continue;
                                        }
                                    }
                                }
                                @{
                                    if (Model.CurrentPage < Model.PagesCount)
                                    {
                                        <a href="@Url.Action("index","users",
                                            new{lang=Model.LanguagePack.Key,
                                            filter=Model.Filter.ToString(),
                                            value=Model.Value,
                                            sort=Model.Sort,
                                            page=Model.CurrentPage+1})" class="btn_cust btn-page-select">
                                            ⇒
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </form>
    }
}
<script src="~/js/usersControle.js"></script>