@using CourseProject_backend.Models.ViewModels
@model ItemConstructorViewModel
@{
    Layout = "_Mylayout";
    ViewData["Title"] = "Create Item";
    ViewData.Add("Lang", Model.LanguagePack.Key);
}

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.LanguagePack.Value["item_constructor"]</h1>
        </div>
    </div>
</div>

<form action="~/itemconstructor/Add/@Model.LanguagePack.Key" id="form-data" method="post">
    <input type="hidden" name="CollectionId" value="@Model.Collection.Id"/>

    <div class="container">
        <div class="row">
            <div class="col">

                <section class="d-flex justify-content-center align-content-center mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 font-size-20">
                                @Model.LanguagePack.Value["item_name"]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="Name" class="form-control">
                            </div>
                        </div>
                    </div>
                </section>

                @{
                    if (Model.Collection.CustomString1_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomString1_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input name="CustomString1" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }

                    if (Model.Collection.CustomString2_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomString2_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input name="CustomString2" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }

                    if (Model.Collection.CustomString3_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomString3_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input name="CustomString3" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }

                @{
                    if (Model.Collection.CustomText1_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomText1_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="CustomText1" class="constructor-text-area form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomText2_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomText2_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="CustomText2" class="constructor-text-area form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomText3_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomText3_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="CustomText3" class="constructor-text-area form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }

                @{
                    if (Model.Collection.CustomInt1_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomInt1_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="number" name="CustomInt1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomInt2_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomInt2_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="number" name="CustomInt2" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomInt3_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomInt3_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="number" name="CustomInt3" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }

                @{
                    if (Model.Collection.CustomBool1_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomBool1_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn1-yes" type="button" onclick="btn_customBool1_yes()" class="btn-all-select control-icon">
                                            <img src="~/img/true.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn1-no" type="button" onclick="btn_customBool1_no()" class="btn-all-select control-icon">
                                            <img src="~/img/false.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <input type="hidden" id="customBool1" name="CustomBool1" value="false" />
                                </div>
                            </div>
                        </section>
                    }

                    if (Model.Collection.CustomBool2_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomBool2_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn2-yes" type="button" onclick="btn_customBool2_yes()" class="btn-all-select control-icon">
                                            <img src="~/img/true.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn2-no" type="button" onclick="btn_customBool2_no()" class="btn-all-select control-icon">
                                            <img src="~/img/false.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <input type="hidden" id="customBool1" name="CustomBool1" value="false" />
                                </div>
                            </div>
                        </section>
                    }

                    if (Model.Collection.CustomBool3_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomBool3_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn3-yes" type="button" onclick="btn_customBool3_yes()" class="btn-all-select control-icon">
                                            <img src="~/img/true.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <button id="btn3-no" type="button" onclick="btn_customBool3_no()" class="btn-all-select control-icon">
                                            <img src="~/img/false.png" style="width: 30px;">
                                        </button>
                                    </div>
                                    <input type="hidden" id="customBool1" name="CustomBool1" value="false" />
                                </div>
                            </div>
                        </section>
                    }
                }

                @{
                    if (Model.Collection.CustomDate1_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomDate1_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="date" name="CustomDate1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomDate2_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomDate2_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="date" name="CustomDate2" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    if (Model.Collection.CustomDate3_state)
                    {
                        <section class="d-flex justify-content-center align-content-center mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 font-size-20">
                                        @Model.Collection.CustomDate3_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="date" name="CustomDate3" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }

                <section class="d-flex justify-content-center align-content-center mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 font-size-20">
                                @Model.LanguagePack.Value["tags_word"] :
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="Tags" class="form-control">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="d-flex justify-content-center align-content-center mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button onclick="createItem()" class="btn-all-select control-icon font-size-20" type="button">
                                    @Model.LanguagePack.Value["create_collection"]
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</form>

<script src="~/js/itemConstructor.js"></script>
