@model KeyValuePair<string,IDictionary<string, string>>
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Collection constructor";
    ViewData.Add("Lang", Model.Key);

    List<string> categories = new List<string>();

    if (ViewData.ContainsKey("categories"))
    {
        categories = ViewData["categories"] as List<string>;
    }

}

<div class="container">
    <div class="row mb-3">
        <div class="col d-flex justify-content-center">
            <h1>@Model.Value["collection_constructor"]</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="sections-block">
            <section class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.Value["enter_collection_name"] :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input id="collectionName" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.Value["change_category"] :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select id="categoryName" class="form-control" name="Category">
                                @{
                                    for (int i = 0; i < categories.Count; i++)
                                    {
                                        <option value="@categories[i]">@categories[i]</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.Value["enter_description"] :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea id="collectionDescription" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </section>

            <div hidden id="columnInfo">
                <section name="CustomText1_name" value="Sehrli qalpoqcha" class="d-flex justify-content-center align-content-center mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 font-size-24 mb-4">
                                @Model.Value["column_word"]
                            </div>
                            <div id="columnName" class="col-12 font-size-20 d-flex justify-content-center">
                                Muallif
                            </div>
                        </div>
                        <div class="row">
                            <div id="columnTypeName" class="col-12 font-size-20 d-flex justify-content-center">
                                Text
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section id="addCollumnConstructor" class="d-flex justify-content-center align-content-center mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 font-size-20">
                            @Model.Value["adding_new_column"]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="font-size-16">@Model.Value["column_type"]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt">
                            <select id="column-types" class="form-control">
                                <option value="Text">Text</option>
                                <option value="String">String</option>
                                <option value="Number">Number</option>
                                <option value="Date">Date</option>
                                <option value="Yes/No">Yes/No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="font-size-16">@Model.Value["column_name"]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input id="columnName" type="text" class="form-control"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <button onclick="addConstructor()" class="btn-all-select control-icon" type="button">
                                <img src="~/img/plus.png" style="width: 30px;">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <button onclick="createCollection()" class="btn-all-select control-icon font-size-20" type="button">
                                @Model.Value["create_word"]
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="~/js/collectionConstructor.js"></script>